page-documents {
    .image-container {
        background-size: cover;
        min-height: 200px;
    }
    .card button {
        background-color: transparent;
    }
    .card-default {
        background-color: color($colors, light-gray);
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .card-grayed {
        background-color: color($colors, dark-gray, base);
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .card-grayed ion-label {
        color: color($colors, dark-gray, contrast);
    }
    .card-icon {
        background-color: transparent;
        position: absolute;
        top: 73%;
        width: 70%;
        text-align: right;
    }
    .class-spin {
        position: absolute;
        z-index: 999;
        height: 120px;
        width: 80%;
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 15px;
        text-align: center;
    }
    .class-child-spin {
        height: 90px;
        width: 20%;
    }
    .opacity {
        background-color: color($colors, dark-gray, base);
        opacity: 0.5;
    }
    .transparent {
        background-color: transparent;
    }
    .prompt-icon {
        position: absolute;
        height: 25px;
        width: 25px;
        background: none !important;
        left: 75%;
        top: 10%;
    }
    .prompt-icon-failed {
        position: absolute;
        height: 20px;
        width: 20px;
        background: none !important;
        left: 76%;
        top: 11%;
    }
    .prompt-retry {
        height: 25px;
        width: 25px;
        position: absolute;
        top: 35%;
        left: 40%;
        z-index: 20;
    }
    span.prompt-retry-span {
        color: #fff;
        position: absolute;
        top: 55%;
        left: 40%;
        z-index: 20
    }
    .toolbar-title-md {
        padding: 0px !important;
    }
    .toolbar-title-ios {
        padding: 0px !important;
    }
    .btnRef {
        width: 80px;
        padding: 3%;
        background-color: #e48942 !important;
        color: #fff !important;
    }
    .btnDocs {
        width: 35px;
        padding: 3%;
        height: 30px;
        background-color: #e48942 !important;
        color: #fff !important;
        margin-top: 23%;
    }
}