<ion-header>
    <ion-navbar color="gray-header">
        <ion-title style="color:dark-gray;margin-left:-5px !important">
            OWTEL INSTALLMENT
        </ion-title>

        <ion-buttons end>
            <button class="btnRef" ion-button (click)="createReference()"> {{ 'BUTTON.REF' | translate }} </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>

<ion-content>
    <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="{{ 'LOADER.PULL_REF' | translate }}">
        </ion-refresher-content>
    </ion-refresher> -->



    <ion-row>

        <ion-label style="text-align: center; font-size: x-large; font-weight: bold">
            {{ 'LABEL.DOCS' | translate }}
        </ion-label>
        <!--   <div *ngIf="navParam.status == 1">
            <ion-buttons style="position: absolute;left:70%;">
                <button style="font-size:large;" class="btnDocs" ion-button (click)="viewUnlistDocs()"> + </button>
            </ion-buttons>
        </div> -->
    </ion-row>


    <ion-grid>
        <ion-row>
            <ion-col col-6 col-md-4 col-xl-3 *ngFor="let image of gallery">
                <div class='class-spin opacity' *ngIf="getShow(image.id)"></div>
                <div class='class-spin transparent' *ngIf="getShow(image.id)">
                    <ion-spinner class='class-child-spin'></ion-spinner>
                </div>

                <!-- <div [innerHtml]='showPrompt'></div> -->
                <ion-card class="card-default" *ngIf="image.isEmpty">
                    <img [src]="image.src" height="80px" (click)="showDialog(image.id)" />
                    <ion-label style="text-align: center;">
                        {{image.name}}
                    </ion-label>
                </ion-card>

                <ion-card class="card-grayed" *ngIf="!image.isEmpty">
                    <div [id]="image.id" *ngIf="getImageSrc(image.src, image.id)" class="{{ 'getFrontImage_'+image.id}}"></div>
                    <div [id]="'getDataPrompt_'+image.id" [attr.data-prompt]="image.id" class="{{'getPrompt_'+image.id}}"></div>
                    <img [src]="image.src" height="80px" imageViewer="image.src" />
                    <ion-label style="text-align: center;">
                        {{image.name}}
                        <div class="card-icon" *ngIf="navParam.status == 1">
                            <ion-icon name="create" item-end on-Tap="showDialog(image.id)"></ion-icon>
                        </div>
                    </ion-label>
                </ion-card>


            </ion-col>


        </ion-row>
    </ion-grid>
    <!-- <ion-row style="margin: 10px 20px;" *ngIf="navParam.status == 1">
        <button ion-button color="dark-gray" (click)="upload()" block large>{{ 'BUTTON.SUBMIT' | translate }}</button>
    </ion-row> -->
</ion-content>