<ion-content class="login-content" padding>
    <ion-row class="row-no-bottom-margin">
        <ion-col>
            <img src="assets/imgs/logo.png" width="80%">
        </ion-col>
    </ion-row>

    <div class="div-content">
        <ion-row>
            <ion-label class="lbl-size lbl-face" text-center>{{ 'LABEL.SUBTITLE_1' | translate }}</ion-label>
        </ion-row>

        <form (ngSubmit)="apply()" [formGroup]="validations_form">
            <ion-list no-lines>
                <ion-row>
                    <ion-label class="lbl-size lbl-face">{{ 'LABEL.FNAME' | translate }}:</ion-label>
                </ion-row>
                <ion-row>
                    <ion-col no-padding>
                        <ion-input type="text" maxlength="32" #firstName formControlName="firstName"></ion-input>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-label class="lbl-size lbl-face">{{ 'LABEL.LNAME' | translate }}:</ion-label>
                </ion-row>
                <ion-row>
                    <ion-col no-padding>
                        <ion-input type="text" maxlength="32" #lastName></ion-input>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-label class="lbl-size lbl-face">{{ 'LABEL.HKID' | translate }}:</ion-label>
                </ion-row>
                <ion-row>
                    <ion-col col-12 no-padding>
                        <ion-input type="text" formControlName="hkidFirst" class="inputHKID" [(ngModel)]="getCapitalData" maxlength="9" autocapitalize="characters" #idHKID (keyup)="onKeyupHKID($event)"></ion-input>
                    </ion-col>
                    <!-- <ion-col col-2 style="margin-right: 3px;" no-padding>
            <ion-input formControlName="hkidFirst" type="text" maxlength="2" autocapitalize="characters" #idFirst (input)="onChangeTextFirst(idFirst)"></ion-input>
          </ion-col>
          <ion-col col-8 no-padding>
            <ion-input formControlName="hkidMid" type="tel" maxlength="6" autocapitalize="characters" #idMiddle (input)="onChangeTextSecond(idMiddle)"></ion-input>
          </ion-col>
          <p>(</p>
          <ion-col col-1 no-padding>
            <ion-input type="text" maxlength="1" autocapitalize="characters" #idLast formControlName="hkidLast"></ion-input>
          </ion-col>
          <p>)</p> -->
                </ion-row>

                <ion-row>
                    <ion-label class="lbl-size lbl-face">{{ 'LABEL.MOBILE_NUMBER' | translate }}:</ion-label>
                </ion-row>
                <ion-row>
                    <p class="lbl-size-custom">+852</p>
                    <ion-col no-padding>
                        <ion-input type="tel" maxlength="8" #number formControlName="number"></ion-input>
                    </ion-col>
                </ion-row>

                <ion-row style="margin-top: 25px;">
                    <button ion-button class="submit-btn" type="submit" color="dark-gray" block large [disabled]="!this.validations_form.valid">{{ 'BUTTON.SUBMIT' | translate }}</button>
                </ion-row>
            </ion-list>
        </form>
    </div>
</ion-content>