<ion-content class="login-content" padding>
    <ion-row class="logo-row">
        <ion-col>
            <img src="assets/imgs/logo.png" width="80%">
        </ion-col>
    </ion-row>

    <div class="div-content">
        <ion-list no-lines>
            <ion-row>
                <ion-label class="lbl-size lbl-face">{{ 'LABEL.HKID' | translate }}:</ion-label>
            </ion-row>
            <ion-row>
                <ion-col col-12 no-padding>
                    <ion-input type="text" class="inputHKID" [(ngModel)]="getCapital" maxlength="9" autocapitalize="characters" #idHKID (keyup)="onKeyupHKID($event)"></ion-input>
                </ion-col>
                <!-- <ion-col col-2 style="margin-right: 3px;" no-padding>
                    <ion-input type="text" [(ngModel)]="getCapital" (keyup)="onGetCapitalOnly($event)" class="inputFirst" maxlength="9" #idFirst autocapitalize="characters"></ion-input>
                </ion-col> -->
                <!--  <ion-col col-8 no-padding>
                    <ion-input type="tel" maxlength="6" autocapitalize="characters" #idMiddle (input)="onChangeTextSecond(idMiddle)"></ion-input>
                </ion-col>
                <p>(</p>
                <ion-col col-1 no-padding>
                    <ion-input type="text" [(ngModel)]="noSpecialChar" (keyup)="noSpecialCharEvnt($event)" class="inputLast" maxlength="1" #idLast autocapitalize="characters" (input)="onChangeTextLast(idLast)"></ion-input>
                </ion-col>
                <p>)</p> -->
            </ion-row>

            <ion-row>
                <ion-label class="lbl-size lbl-face">{{ 'LABEL.MOBILE_NUMBER' | translate }}:</ion-label>
            </ion-row>
            <ion-row>
                <p class="lbl-size-custom">+852</p>
                <ion-col no-padding>
                    <ion-input type="tel" maxlength="8" #number></ion-input>
                </ion-col>
            </ion-row>

            <ion-row style="margin-top: 25px;">
                <button ion-button class="submit-btn" type="submit" color="dark-gray" block large (click)="login()">{{ 'BUTTON.VERIFY' | translate }}</button>
                <button ion-button class="submit-btn new-btn" type="submit" color="primary" block clear (click)="newApplicant()">{{ 'BUTTON.NEW_APPL' | translate }}</button>
            </ion-row>
        </ion-list>
    </div>
</ion-content>