page-login {
  .div-content {
    margin-top: 50px;
  }


  p {
    padding-top: 10px;
    font-size: medium;
    color: map-get($colors, dark);
    margin: 0px 3px;
  }

  .col-hkid{
    margin: 0px 2px;
    text-align: center;
  }

  .row-hkid {
    margin: 10px 0px;
  }

  .lbl-right {
    text-align: right;
  }

  .lbl-size {
    font-size: medium;
  }

  .div-content .col {
    background-color: map-get($colors, light-gray);
    border-radius: 5px;
    color: map-get($colors, dark);
  }

  .div-content .col input {
    text-align: center;
    font-size: large !important;
  }

  .lbl-face {
    background-color: transparent;
  }

  .lbl-size-custom {
    font-size: large;
    letter-spacing: 2px;
  }

  .new-btn {
    text-decoration:underline;
  }
}