<!--
  Generated template for the AddreferralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar color="gray-header">
        <ion-label color="dark-gray" style="font-size: large; font-weight: bold; padding-left: 6% !important;">
            ADD REFERRALS
        </ion-label>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
        <ion-grid>
            <ion-row>
                <ion-col>

                </ion-col>
                <ion-col col-6 (click)="getContacts()">
                    <ion-icon name="add" class="color-orange" style="font-size:medium; font-weight:bold"></ion-icon>
                    <span class="color-orange" style="text-decoration: underline; font-size: medium">Add from contacts</span>
                </ion-col>
            </ion-row>

            <ion-row>
                <div class="div-content">

                    <ion-list no-lines>
                        <ion-row>
                            <ion-label class="lbl-size lbl-face">Name : </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12 no-padding>
                                <ion-input type="text" [(ngModel)]="getCheckName" class="inputNRIC" #refName (keyup)="onKeyupName($event)"></ion-input>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-label class="lbl-size lbl-face">{{ 'LABEL.MOBILE_NUMBER' | translate }}:</ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-input [(ngModel)]="getCheckNumber" (keyup)="onKeyupNumber($event)" type="tel" maxlength="8" #refMobile></ion-input>
                            </ion-col>

                            <button type="button" (click)="Add()" ion-button icon-only style="width:12%;margin-left:2%; background:#e48942">
                                <ion-icon name="add"></ion-icon>
                            </button>
                        </ion-row>

                        <div style="margin-top: 10px" *ngFor="let att of anArray; let idx = index">
                            <ion-row>
                                <ion-col>
                                    <ion-input type="tel" maxlength="8" [(ngModel)]="anArray[idx].value" #refMobileMult (keyup)="onKeyupName($event)"></ion-input>
                                </ion-col>
                                <button (click)="Remove(idx)" ion-button icon-only style="width:12%;margin-left:2%;background:red ">
                                    <ion-icon name="close"></ion-icon>
                                </button>
                            </ion-row>
                        </div>

                        <!-- <ion-row>
                            <ion-label class="lbl-size lbl-face">Remarks : </ion-label>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12 no-padding>
                                <ion-textarea style="height:8em; font-size:medium" #refRemarks></ion-textarea>
                            </ion-col>
                        </ion-row> -->

                        <ion-row style="margin-top: 25px;"><button ion-button class="submit-btn btn-medium" type="submit" color="owtel-orange" (click)="addReferral()" block medium style="background:#e48942;margin:auto;width:50%">{{'BUTTON.SAVE' | translate }}</button>

                        </ion-row>
                    </ion-list>
                </div>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>