page-pay {
  .div-details {
    color: color($colors, dark-gray, base);
    //background-color: color($colors, light-gray);
    //padding: 20px 20px;
    //margin-bottom: 20px;
    text-align: center;
  }

  .div-details .lbl-style {
    font-size: x-large;
    font-weight: bold;
  }

  //.div-details img {
  //  margin-bottom: 40px;
  //}
}
