<ion-header>

    <ion-navbar color="gray-header">
        <ion-title>
            OWTEL INSTALLMENT
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ng-container *ngFor="let due of nextDue">
        <div class="div-details">
            <img [src]="due.src" />
        </div>

        <div class="div-content" style="text-align: center">
            <ion-label style="text-align: center; font-size: large; font-weight: bold">
                {{due.amount}}
                <br> {{due.date}}
            </ion-label>
            <ion-label style="text-align: center; margin-top:40px">
                {{ 'LABEL.PAY_AT' | translate }}
            </ion-label>
        </div>
    </ng-container>
</ion-content>