page-promotionitemdetails {
    .div-details {
        color: color($colors, dark-gray, base);
        //background-color: color($colors, light-gray);
        //padding: 20px 20px;
        //margin-bottom: 20px;
        text-align: center;
    }
    .swiper-pagination {
        padding-bottom: 0%;
    }
    h2 {
        color: color($colors, dark-gray, base);
    }
    .right_side {
        color: color($colors, dark-gray, base);
    }
    p {
        color: color($colors, dark-gray, base);
    }
    li {
        color: color($colors, dark-gray, base);
    }
    .card-md {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .card-ios {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    ion-card-header {
        padding: 0px !important;
    }
    .getfont {
        text-transform: lowercase;
    }
    .font_capitalize {
        text-transform: capitalize !important;
    }
    .card-md {
        margin: 0px !important;
    }
    .card-ios {
        margin: 0px !important;
    }
}