<ion-header no-border>
    <ion-navbar color="gray-header">
        <ion-label color="dark-gray" style="font-size: large; font-weight: bold; padding-left: 6% !important;">
            PROMOTIONS
        </ion-label>

    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="{{ 'LOADER.PULL_REF' | translate }}">
        </ion-refresher-content>
    </ion-refresher>

    <div style="margin-top:3%"></div>
    <ng-container>
        <div>
            <div class="div-content" style="text-align: center">
                <ion-label class="font_capitalize" text-wrap style="font-weight: bold;text-align: center; font-size: large;margin-top:7%; ">
                    {{product_name}}
                </ion-label>
            </div>
            <ion-slides *ngIf="promoItemDetails && promoItemDetails.length" autoplay="2000" pager="true" loop="true" speed="300" (ionSlideDidChange)="slideChanged()">
                <ion-slide *ngFor="let img of promoItemDetails">
                    <img [src]="img" style="padding-bottom:12%; height:240px !important">
                </ion-slide>

            </ion-slides>

            <div *ngFor="let details of promoDetails">
                <div>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <h2 style="font-weight: bold; font-size: xx-large; margin-left: 14%">{{details.amount}}</h2>
                            </ion-col>

                            <ion-col col-6>

                                <ion-row class="right_side">
                                    <ion-col col-6>
                                        <p>Down : </p>
                                    </ion-col>
                                    <ion-col col-4>
                                        <p style="text-align: right"> {{details.DP6}} </p>

                                    </ion-col>
                                    <ion-col col-2>

                                    </ion-col>
                                </ion-row>


                                <ion-row class="right_side">
                                    <ion-col col-6>
                                        <p style="margin-top: -26%;">6 Monthly : </p>
                                    </ion-col>
                                    <ion-col col-4>
                                        <p style="margin-top: -42%;text-align: right"> {{details.month6}} </p>
                                    </ion-col>
                                    <ion-col col-2>
                                    </ion-col>
                                </ion-row>

                            </ion-col>


                        </ion-row>
                    </ion-grid>
                </div>

                <div style="margin-top:3%"></div>
                <div>
                    <ion-card>
                        <ion-card-header>
                            <div *ngIf="details.description?.length > 0">
                                <h2 color="dark-gray" style="color: #6c6c6c !important; margin-left: 10%; font-weight: bold;font-size: medium;">Specifications : </h2>
                            </div>
                        </ion-card-header>
                        <ion-card-content>
                            <div [innerHTML]="details.description"></div>
                        </ion-card-content>
                    </ion-card>
                </div>
            </div>
        </div>
    </ng-container>

</ion-content>