page-tabs {
    .tab-button-text {
        margin-top: 6px !important;
        font-size: 10px !important;
    }
    .tabbar,
    .tabs-ios,
    .tabs-md,
    .tabs-wp {
        .tab-button-icon {
            background-repeat: no-repeat;
            background-position: center;
            height: 24px;
            width: 24px;
            background-size: contain;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            &:before {
                display: none;
            }
        }
        font-size:10px !important;
    }
    .tabs-ios {
        a[aria-selected=false] {
            .tab-button-icon[ng-reflect-name=installment],
            .tab-button-icon[aria-label="installment outline"] {
                background-image: url(../assets/imgs/custom-icons/installment.png);
            }
            .tab-button-icon[ng-reflect-name=coupon],
            .tab-button-icon[aria-label="coupon outline"] {
                background-image: url(../assets/imgs/custom-icons/coupon.png);
            }
            .tab-button-icon[ng-reflect-name=promotions],
            .tab-button-icon[aria-label="promotions outline"] {
                background-image: url(../assets/imgs/custom-icons/promotions.png);
            }
            .tab-button-icon[ng-reflect-name=referrals],
            .tab-button-icon[aria-label="referrals outline"] {
                background-image: url(../assets/imgs/custom-icons/referral.png);
            }
        }
        a[aria-selected=true] {
            //führ eventuellen text
            //span {
            //color: #f00; //whatever colour you want to use for the text
            //}
            .tab-button-icon[ng-reflect-name=installment],
            .tab-button-icon[aria-label=installment] {
                background-image: url(../assets/imgs/custom-icons/installmentorange.png);
            }
            .tab-button-icon[ng-reflect-name=coupon],
            .tab-button-icon[aria-label=coupon] {
                background-image: url(../assets/imgs/custom-icons/couponorange.png);
            }
            .tab-button-icon[ng-reflect-name=promotions],
            .tab-button-icon[aria-label=promotions] {
                background-image: url(../assets/imgs/custom-icons/promotionsorange.png);
            }
            .tab-button-icon[ng-reflect-name=referrals],
            .tab-button-icon[aria-label=referrals] {
                background-image: url(../assets/imgs/custom-icons/referralorange.png);
            }
        }
    }
    .tabs-md {
        a[aria-selected=false] {
            .tab-button-icon[ng-reflect-name=installment],
            .tab-button-icon[aria-label=installment] {
                background-image: url(../assets/imgs/custom-icons/installment.png);
            }
            .tab-button-icon[ng-reflect-name=coupon],
            .tab-button-icon[aria-label=coupon] {
                background-image: url(../assets/imgs/custom-icons/coupon.png);
            }
            .tab-button-icon[ng-reflect-name=promotions],
            .tab-button-icon[aria-label=promotions] {
                background-image: url(../assets/imgs/custom-icons/promotions.png);
            }
            .tab-button-icon[ng-reflect-name=referrals],
            .tab-button-icon[aria-label=referrals] {
                background-image: url(../assets/imgs/custom-icons/referral.png);
            }
        }
        a[aria-selected=true] {
            //führ eventuellen text
            //span {
            //color: #f00; //whatever colour you want to use for the text
            //}
            .tab-button-icon[ng-reflect-name=installment],
            .tab-button-icon[aria-label=installment] {
                background-image: url(../assets/imgs/custom-icons/installmentorange.png);
            }
            .tab-button-icon[ng-reflect-name=coupon],
            .tab-button-icon[aria-label=coupon] {
                background-image: url(../assets/imgs/custom-icons/couponorange.png);
            }
            .tab-button-icon[ng-reflect-name=promotions],
            .tab-button-icon[aria-label=promotions] {
                background-image: url(../assets/imgs/custom-icons/promotionsorange.png);
            }
            .tab-button-icon[ng-reflect-name=referrals],
            .tab-button-icon[aria-label=referrals] {
                background-image: url(../assets/imgs/custom-icons/referralorange.png);
            }
        }
    }
    .tabs-wp {
        a[aria-selected=false] {
            .tab-button-icon[ng-reflect-name=installment],
            .tab-button-icon[aria-label=installment] {
                background-image: url(../assets/imgs/custom-icons/installment.png);
            }
            .tab-button-icon[ng-reflect-name=coupon],
            .tab-button-icon[aria-label=coupon] {
                background-image: url(../assets/imgs/custom-icons/coupon.png);
            }
            .tab-button-icon[ng-reflect-name=promotions],
            .tab-button-icon[aria-label=promotions] {
                background-image: url(../assets/imgs/custom-icons/promotions.png);
            }
            .tab-button-icon[ng-reflect-name=referrals],
            .tab-button-icon[aria-label=referrals] {
                background-image: url(../assets/imgs/custom-icons/referral.png);
            }
        }
        a[aria-selected=true] {
            //führ eventuellen text
            //span {
            //color: #f00; //whatever colour you want to use for the text
            //}
            .tab-button-icon[ng-reflect-name=installment],
            .tab-button-icon[aria-label=installment] {
                background-image: url(../assets/imgs/custom-icons/installmentorange.png);
            }
            .tab-button-icon[ng-reflect-name=coupon],
            .tab-button-icon[aria-label=coupon] {
                background-image: url(../assets/imgs/custom-icons/couponorange.png);
            }
            .tab-button-icon[ng-reflect-name=promotions],
            .tab-button-icon[aria-label=promotions] {
                background-image: url(../assets/imgs/custom-icons/promotions.png);
            }
            .tab-button-icon[ng-reflect-name=referrals],
            .tab-button-icon[aria-label=referrals] {
                background-image: url(../assets/imgs/custom-icons/referralorange.png);
            }
        }
    }
    .remove-tabs .tabbar {
        display: none;
    }
}