<!--
  Generated template for the TabsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-tabs *ngIf="showTabs" #tabs selectedIndex="0">
    <ion-tab [root]="tab1Root" tabIcon="installment" tabTitle="INSTALLMENT"></ion-tab>
    <ion-tab [root]="tab2Root" tabIcon="coupon" tabTitle="COUPON"></ion-tab>
    <ion-tab [root]="tab3Root" tabIcon="promotions" tabTitle="PROMOTIONS"></ion-tab>
    <ion-tab [root]="tab4Root" tabIcon="referrals" tabTitle="REFERRALS"></ion-tab>
</ion-tabs>