<!--
  Generated template for the ContactsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar color="gray-header">
        <ion-label color="dark-gray" style="font-size: large; font-weight: bold; padding-left: 6% !important;">
            ADD REFERRAL
        </ion-label>
    </ion-navbar>
</ion-header>


<ion-content no-padding>
    <div ion-fixed style="width:100%; overflow: hidden; background:#fff; z-index:999999">
        <ion-row>
            <ion-col col-3>
                <ion-label style="color:#627E9F; margin-left:30%" (click)="addContacts()"> ADD </ion-label>
            </ion-col>
            <ion-col col-6>
                <ion-label style="color:#E2E3E3"> Choose from Contacts</ion-label>
            </ion-col>
            <ion-col col-3>
                <ion-label style="color:#627E9F" (click)="cancel()"> CANCEL </ion-label>
            </ion-col>
        </ion-row>

        <div>
            <ion-searchbar style="background: #C7C9CF" [debounce]="500" (ionInput)="getItems($event)"></ion-searchbar>
        </div>
    </div>
    <div style="margin-top:34%"></div>

    <ion-item-group *ngFor="let group of result">
        <ion-item-divider style="background:#E2E3E3" sticky>{{group.key}}</ion-item-divider>

        <ion-item *ngFor="let contact of group.contacts">
            <ion-label #getContacts>{{contact.name}}</ion-label>
            <ion-checkbox item-start checked="false" (ionChange)="addCheckbox($event, contact.name, getPhone(contact.phone_no))"></ion-checkbox>
        </ion-item>

    </ion-item-group>

</ion-content>