page-contacts {
    .item-checkbox {
        ion-checkbox {
            button.item-cover {
                width: 15%;
            }
        }
        ion-label {
            button.item-cover {
                width: 85%;
                right: 0;
                left: auto;
            }
        }
    }
    ion-label {
        padding-top: 10px;
        font-size: medium;
        color: map-get($colors, dark);
        margin: 0px 3px;
    }
    .ion-alpha-scroll scroll-content::-webkit-scrollbar {
        display: none;
    }
}