<ion-content class="login-content" padding>
  <ion-row class="ico-row">
    <ion-col>
      <img src="assets/imgs/exclamation.png" width="40%">
    </ion-col>
  </ion-row>
  <div class="login-box">
    <ion-row>
      <ion-col>
        <ion-item no-lines text-wrap>
          <ion-label color="dark-gray" style="font-size: x-large; font-weight: bold;" text-center>
              {{navParam.title}}
          </ion-label>
        </ion-item>

        <ion-item no-lines text-wrap>
          <ion-label color="dark-gray" text-center>
              {{navParam.subTitle}}
          </ion-label>
        </ion-item>

        <ion-row>
          <ion-col class="btn-col">
            <button ion-button class="submit-btn" type="submit" color="dark-gray" block large (click)="back()">{{ 'BUTTON.CANCEL' | translate }}</button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>