page-mobile-number-matching {
  .ico-row {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  .lbl-center {
    text-align: center;
  }

  .label {
    text-align: center;
  }
}
