page-promotionitems {
    .ico-row {
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
    }
    .card,
    .list-inset {
        overflow: hidden;
        border-radius: 2px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .card-md {
        margin: 0px;
    }
    .card-ios {
        margin: 0px;
    }
    .ion-btn {
        background-color: transparent !important;
        color: color($colors, dark-gray, contrast);
    }
    .ion-btn h2 {
        padding-top: 5px;
        font-size: large;
        font-weight: 600;
    }
    .ion-btn h2,
    .ion-btn p {
        padding-top: 3px;
        color: color($colors, dark-gray);
        padding-left: 13%;
    }
    .ion-btn p {
        font-size: x-small;
    }
    .item-inner {
        background-size: 20px 20px !important;
    }
    ion-label.label-style {
        text-align: center;
        font-size: large;
        font-weight: bold
    }
    img.img-promo {
        width: 70%;
        display: block;
        margin: auto
    }
    .label-md {
        margin: 10px 0px 0px 0px !important;
    }
    .label-ios {
        margin: 10px 0px 0px 0px !important;
    }
    .row-percent {
        margin: -13px 0px 0px 0px !important;
    }
    .imagebackground {
        background: url('../assets/imgs/ribbon.png') no-repeat;
        background-size: contain;
        height: 45px;
        width: 66%;
    }
    .btn-off {
        width: 70px !important;
        font-size: 0.7em !important;
    }
    .btn-off-small {
        width: 70px !important;
        font-size: 0.6em !important;
    }
    .getfont {
        text-transform: capitalize !important;
    }
    ion-label {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .margin-top-13 {
        margin-top: -13%;
    }
    .label-styles {
        font-size: small !important;
        font-weight: bold;
        text-align: center;
        color: color($colors, dark-gray);
    }
    .discount-btn {
        background-color: #E92527;
        height: 70%;
        margin-top: 4%;
        text-align: center;
    }
}