<ion-header no-border>
    <ion-navbar color="gray-header">
        <ion-label color="dark-gray" style="font-size: large; font-weight: bold; padding-left: 6% !important;">
            PROMOTIONS
        </ion-label>

    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="{{ 'LOADER.PULL_REF' | translate }}">
        </ion-refresher-content>
    </ion-refresher>

    <div style="margin-top:3%"></div>
    <ng-container>
        <div *ngIf="promoItemDetails?.length == 0">
            <ion-label color="gray-header" #username style="padding-left: 0 !important; margin-top: 55% !important;font-size: xx-large; font-weight: bold" text-center>
                {{ 'LABEL.NO_PROM' | translate }}
            </ion-label>

        </div>

        <div *ngIf="promoItemDetails?.length > 0">
            <div class="imagebackground">
                <ion-label style="font-size: large; font-weight: bold; padding-left: 8.5%;padding-top: 5%;color:#fff ">
                    <!--  {{promoItemDetails[0].category_name}} -->
                    {{category_name}}
                </ion-label>
                <!--  <img src="assets/imgs/ribbon.png" style="width:65%"> -->
            </div>

            <ion-grid>
                <ion-row>
                    <ion-col *ngFor="let details of promoItemDetails" col-6>
                        <div (click)="getImageDetails(details.parentcode, details.id)">
                            <div style="margin-top: 10%"></div>
                            <div class="imgpromo" style="padding-top: 3px;">
                                <img class="img-promo" style="text-align: center;" [src]="details.img_url[0]">
                                <!-- if no discount-->
                                <div *ngIf="details.discount_value == 0 || details.discount_value?.length == 0">
                                    <ion-row no-padding>
                                        <ion-col col-1></ion-col>
                                        <ion-col col-10>
                                            <ion-label class="label-styles">
                                                {{details.amount}}
                                            </ion-label>
                                        </ion-col>
                                        <ion-col col-1></ion-col>
                                    </ion-row>
                                    <ion-row no-padding>
                                        <ion-col col-1></ion-col>
                                        <ion-col col-10 text-wrap class="margin-top-13">
                                            <ion-label class="getfont label-styles">
                                                {{details.name.toLowerCase()}}
                                            </ion-label>
                                        </ion-col>
                                        <ion-col col-1></ion-col>
                                    </ion-row>

                                </div>


                                <!-- if have discount-->
                                <div *ngIf="details.discount_value > 0">

                                    <ion-row no-padding>
                                        <ion-col col-1></ion-col>
                                        <ion-col col-10>
                                            <ion-label class="label-styles">
                                                {{details.discount_amount}}
                                            </ion-label>
                                        </ion-col>
                                        <ion-col col-1></ion-col>
                                    </ion-row>
                                    <ion-row no-padding>
                                        <ion-col col-1></ion-col>
                                        <ion-col col-10 text-wrap class="margin-top-13">
                                            <ion-label class="getfont label-styles">
                                                {{details.name.toLowerCase()}}
                                            </ion-label>
                                        </ion-col>
                                        <ion-col col-1></ion-col>
                                    </ion-row>
                                    <ion-row no-padding class="row-percent">
                                        <ion-col col-1></ion-col>
                                        <ion-col col-5 text-wrap style="margin-top:-4%">
                                            <ion-label class="label-styles" style="margin-left : 12% !important; text-decoration: line-through; opacity: 0.3;">
                                                {{details.amount}}
                                            </ion-label>
                                        </ion-col>

                                        <ion-col col-5 text-wrap>
                                            <button *ngIf="details.discount_type == 1" ion-button class="btn-off discount-btn">{{details.discount_value}}% off</button>
                                            <button *ngIf="details.discount_type == 2" ion-button class="btn-off-small discount-btn">Save HK${{details.discount_value}}</button>
                                        </ion-col>
                                        <ion-col col-1></ion-col>

                                    </ion-row>
                                </div>


                            </div>
                        </div>
                    </ion-col>

                </ion-row>
            </ion-grid>

        </div>
    </ng-container>

</ion-content>