<!--
  Generated template for the ReferralsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar color="gray-header">
        <ion-label color="dark-gray" style="font-size: large; font-weight: bold; padding-left: 6% !important;">
            REFERRALS LIST
        </ion-label>

        <ion-buttons end>
            <!-- <div *ngIf="detail_code == 0 || detail_code == 1 ||  detail_code == undefined">
                <button (click)="addReferral()" [disabled]="!isDisabled" ion-button style="background:#e48942; width: 6em;color:#fff">
                  Add
              </button>
            </div>

            <div *ngIf="detail_code >= 2">
                <button (click)="addReferral()" ion-button style="background:#e48942; width: 6em;color:#fff">
                  Add
              </button>
            </div> -->
            <div class="getStats" *ngFor="let details of detail_code">
<div *ngIf="(details.status == 'Pending' &&  detail_code.length == 1) || (details.status == 'Expired' &&  detail_code.length == 1) || (details.status == 'Approved' &&  detail_code.length == 1) || (details.status == 'Cancelled' &&  detail_code.length == 1)  || (details.status == 'Canceled' &&  detail_code.length == 1) || detail_code.length == undefined || details.length == 0 ">
                    <button class="refButton" (click)="addReferral()" [disabled]="!isDisabled" ion-button style="background:#e48942; width: 6em;color:#fff">
                      Add
                 </button>
                </div>

                <div *ngIf="(details.status == 'Completed'  || details.status == 'Existing' && detail_code.length >= 1) || detail_code.length >= 2">
                    <button class="refButton" (click)="addReferral()" ion-button style="background:#e48942; width: 6em;color:#fff">
                    Add
                </button>
                </div>
            </div>
        </ion-buttons>
    </ion-navbar>
</ion-header>



<ion-content no-padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="{{ 'LOADER.PULL_REF' | translate }}">
        </ion-refresher-content>
    </ion-refresher>

    <div style="margin-top:5%"></div>

    <div *ngIf="itemLength?.length > 0">
        <ion-searchbar [(ngModel)]="searchTerm" [debounce]="500" (ionInput)="getItems($event)"></ion-searchbar>
    </div>

    <div style="margin-top:5%"></div>


    <div *ngIf="items?.length == 0">
        <ion-label color="gray-header" style="padding-left: 0 !important; margin-top: 45%;font-size: xx-large;" text-center>
            {{ 'LABEL.NO_REF_SHOW' | translate }}
        </ion-label>
    </div>

    <div *ngIf="items?.length > 0">
        <ng-container *ngFor="let details of items">
            <div>
                <ion-card text-wrap [ngClass]="{'btnActive': active===details.refcustid}" (click)="viewReferrals(details.refcustid)">
                    <button ion-item detail-push class="ion-btn " value="{{details.refcustid}} ">
                      <h2> {{details.name}}</h2>

                      <div [innerHTML]="getDetails(details.phone, details.status)"></div>
                      <!-- <p> Status : <span style="color:#fff">{{details.status}}</span></p> -->


                 </button>
                </ion-card>
            </div>

        </ng-container>

        <div style="margin-top:7%"></div>
    </div>
</ion-content>