page-referrals {
    //Active
    .btnActive {
        background-color: #e48942 !important;
    }
    .btnActive h2,
    .btnActive p {
        padding-top: 3px;
        color: #fff !important;
    }
    .card {
        background-color: #fff;
    }
    .card,
    .list-inset {
        overflow: hidden;
        border-radius: 2px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .card-md {
        margin: 0px;
    }
    .card-ios {
        margin: 0px;
    }
    .ion-btn {
        background-color: transparent !important;
        /* color: color($colors, dark-gray, contrast); */
    }
    .ion-btn h2 {
        padding-top: 5px;
        font-size: large;
        font-weight: 600;
    }
    .ion-btn h2,
    .ion-btn p {
        padding-top: 3px;
        color: color($colors, dark-gray);
    }
    .ion-btn p {
        font-size: x-small;
        font-weight: bold;
    }
    .item-inner {
        background-size: 20px 20px !important;
    }
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .getStats+.getStats {
        display: none !important;
    }
}