<ion-header no-border>
    <ion-navbar color="gray-header">
        <ion-title *ngIf="installment_details?.length == 0">
            OWTEL INSTALLMENT
        </ion-title>

        <ion-row style="padding-right: 20px; padding-left: 10px;" *ngIf="installment_details?.length > 0">
            <ion-col no-padding>
                <ion-label color="dark-gray" style="font-size: large; font-weight: bold;">
                    OWTEL INSTALLMENT
                </ion-label>
            </ion-col>

            <ion-col col-2>
                <button ion-button small color="owtel-orange" (click)="apply(2)"> {{ 'BUTTON.APPLY' | translate }} </button>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>



<ion-content padding>

    <!--  <p id="step1">First step</p>
        <p id="step2">Second Step </p> -->

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="{{ 'LOADER.PULL_REF' | translate }}">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="installment_details?.length == 0">
        <ion-label #username style="font-size: 23px  !important; font-weight: bold" text-center>
            {{ 'LABEL.WELCOME' | translate }}! {{userName}}
        </ion-label>
        <ion-row class="ico-row">
            <ion-col>
                <img src="assets/imgs/contracticon.png" width="40%">
            </ion-col>
        </ion-row>
        <ion-item no-lines text-wrap>
            <ion-label color="dark-gray" text-center>
                {{ 'LABEL.NO_INST' | translate }}
            </ion-label>
        </ion-item>
        <ion-item no-lines text-wrap>
            <ion-label color="dark-gray" text-center>
                {{ 'LABEL.TO_BEGIN' | translate }}
            </ion-label>
        </ion-item>

        <ion-row>
            <ion-col class="btn-col" text-center>
                <button ion-button class="submit-btn" type="submit" color="owtel-orange" (click)="apply(1)">
            {{ 'BUTTON.APPLY' | translate }}
        </button>
            </ion-col>
        </ion-row>
    </div>

    <div *ngIf="installment_details?.length > 0">
        <ion-label #username class="header_title" style="font-size: 23px !important; font-weight: bold; margin-top:5%" text-center>
            {{userName}}
        </ion-label>

        <div style="margin-top:15%;"></div>
        <ng-container *ngFor="let details of installment_details">
            <div *ngIf="details.statusCode == 1">
                <ion-card style="margin-top: -3%;background-color: #e48942">
                    <button ion-item detail-push class="ion-btn" (click)="buttonClick(details)">
                      <ion-icon name="list-box" item-start></ion-icon>
                      <h2>{{ 'LIST.INST_ID' | translate }}: {{details.id}}</h2>
                      <p>{{details.status + ' ' + details.date}}</p>
                 </button>
                </ion-card>
            </div>

            <div *ngIf="details.statusCode > 1">
                <ion-card style="margin-top: -3%;">
                    <button ion-item detail-push class="ion-btn" (click)="buttonClick(details) ">
                    <ion-icon name="list-box" item-start></ion-icon>
                    <h2>{{ 'LIST.INST_ID' | translate }}: {{details.id}}</h2>
                    <p>{{details.status + ' ' + details.date}}</p>
                  </button>
                </ion-card>
            </div>
        </ng-container>
    </div>
</ion-content>