page-home {
    .ico-row {
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
    }
    .card,
    .list-inset {
        overflow: hidden;
        margin: 20px 10px;
        border-radius: 2px;
        background-color: color($colors, dark-gray);
    }
    .ion-btn {
        background-color: transparent !important;
        color: color($colors, dark-gray, contrast);
    }
    .ion-btn h2 {
        padding-top: 5px;
    }
    .ion-btn h2,
    .ion-btn p {
        color: color($colors, dark-gray, contrast);
    }
    .ion-btn p {
        font-size: x-small;
    }
    .header_title {
        display: -webkit-box !important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal !important;
    }
}