<ion-header no-border>
    <ion-navbar color="gray-header">
        <ion-label color="dark-gray" style="font-size: large; font-weight: bold; padding-left: 6% !important;">
            YOUR COUPONS
        </ion-label>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="{{ 'LOADER.PULL_REF' | translate }}">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="couponDetails?.length == 0">

        <!-- <ion-label #username style=" margin-top: 10%; padding-left: 0 !important; font-size: xx-large; font-weight: bold" text-center>
            {{userName}}
        </ion-label> -->

        <ion-label color="gray-header" style="padding-left: 0 !important; margin-top: 45%;font-size: xx-large;" text-center>
            {{ 'LABEL.NO_COUP' | translate }}
        </ion-label>

    </div>

    <div *ngIf="couponDetails?.length > 0">
        <ion-label #username style="font-size: 23px  !important;; font-weight: bold; margin-top:5%; padding-left:5px!important" text-center>
            {{userName}}
        </ion-label>

        <div style="margin-top:10%"></div>
        <ng-container *ngFor="let details of couponDetails ">
            <div>
                <ion-card text-wrap [ngClass]="{'btnActive': active===details.coupon_id}">
                    <button ion-item detail-push class="ion-btn " value="{{details.id}} " (click)="getCouponQr(details.coupon_id) ">
                      <div [ngClass]="{'img-circle': active===details.coupon_id, 'img-circle-gray' : active!==details.coupon_id}">
                        <p [ngClass]="{'pCircleActive': active===details.coupon_id, 'pCircleDefault' : active!==details.coupon_id, 'pFontMax' : details.amount.toString().length==4, 'pFontMin' : details.amount.toString().length < 4  }">
                           {{getDiscountType(details.discount_type, details.amount)}}
                        </p>
                      </div>
                      <h2> {{details.name}}</h2>
                      <p> {{details.message}}</p>
                      <p> Expiration Date : {{details.expiry_date}}</p>
                      <div *ngIf="details.RefName != null">
                          <p> {{getDetailsRef(details.RefName)}}</p>
                      </div>
                 </button>
                </ion-card>

            </div>

        </ng-container>
        <div style="margin-top:7%"></div>

    </div>
</ion-content>