page-coupon {
    .ico-row {
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
    }
    .card {
        background-color: #E9EAEC;
    }
    .card,
    .list-inset {
        overflow: hidden;
        border-radius: 2px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .card-md {
        margin: 0px;
    }
    .card-ios {
        margin: 0px;
    }
    .ion-btn {
        background-color: transparent !important;
        color: color($colors, dark-gray, contrast);
    }
    .ion-btn h2 {
        padding-top: 5px;
        font-size: large;
        font-weight: 600;
    }
    .ion-btn h2,
    .ion-btn p {
        padding-top: 3px;
        color: color($colors, dark-gray);
    }
    .ion-btn p {
        font-size: x-small;
    }
    .item-inner {
        background-size: 20px 20px !important;
    }
    .img-circle {
        background: url('../assets/imgs/circle/circle.png') no-repeat;
        background-size: contain;
        width: 50%;
        height: 50px;
        position: absolute;
        top: 20%;
        left: 3%;
    }
    .img-circle-gray {
        background: url('../assets/imgs/circle/circlegray.png') no-repeat;
        background-size: contain;
        width: 50%;
        height: 50px;
        position: absolute;
        top: 20%;
        left: 3%;
    }
    .label-md {
        padding-left: 19% !important;
    }
    //Active 
    .btnActive {
        background-color: #e48942 !important;
    }
    .btnActive h2,
    .btnActive p {
        padding-top: 3px;
        color: color($colors, dark-gray, contrast);
    }
    .pCircleActive {
        position: absolute;
        font-weight: bold;
        top: 24%;
        left: 3%;
        color: #e48942 !important;
    }
    .pCircleDefault {
        position: absolute;
        font-weight: bold;
        top: 24%;
        left: 3%;
        color: #fff !important;
    }

    .pFontMax {
        font-size: 15px !important;
    }

    .pFontMin {
        font-size: large !important;
    }
}