<ion-content class="login-content" padding>
    <ion-row class="ico-row">
        <ion-col>
            <img src="assets/imgs/check.png" width="40%">
        </ion-col>
    </ion-row>
    <div class="login-box">
        <ion-row>
            <ion-col>
                <ion-item no-lines text-wrap>
                    <ion-label color="dark-gray" class="lbl-center" style="font-size: xx-large">
                        {{navParam.title}}
                    </ion-label>
                </ion-item>

                <ion-item no-lines text-wrap>
                    <ion-label color="dark-gray" text-center>
                        {{navParam.subTitle}}
                    </ion-label>
                </ion-item>

                <form (ngSubmit)="loginUser()">
                    <ion-row>
                        <ion-col class="btn-col">
                            <button ion-button class="submit-btn" type="submit" color="dark-gray" block large>{{ 'BUTTON.CONTINUE' | translate }}</button>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-col>
        </ion-row>
    </div>
</ion-content>