// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #488aff, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #6c6c6c, dark-gray: ( base: #6c6c6c, contrast: #f4f4f4), gray: #ccc, light-gray: #e7e7e7, owtel-orange: #e48942, gray-header: #E9EAEC, );
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";
$button-md-background-color: color($colors, dark-gray);
$button-md-text-color: color-contrast($colors, $button-md-background-color);
$button-md-background-color-hover: color($colors, owtel-orange);
$button-md-background-color-activated: color-shade(color($colors, owtel-orange));
$img-placeholder-background: #fff;
$item-md-detail-push-show: true;
$item-wp-detail-push-show: true;
ion-title {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

ion-label {
    color: color($colors, dark-gray);
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}

$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;
$spinner-ios-ios-color: #fff;
$spinner-md-crescent-color: #fff;
$tabs-md-tab-icon-color-active: #e48942;
$tabs-ios-tab-icon-color-active: #e48942;
$tabs-ios-tab-text-color-active: #e48942;
$tabs-md-tab-text-color-active: #e48942;
//for Modals
$modal-inset-height-large: 50%;
$modal-inset-height-small: $modal-inset-height-large;
$modal-inset-width: 50%;