// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.item.item-input {
    background-color: color($colors, light-gray);
    border-radius: 5px;
    color: color($colors, dark-gray);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.login-content {
    padding-left: 10%;
    padding-right: 10%;
}

.logo-row {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.btn-col {
    margin-top: 5%;
}

.avatar {
    margin: auto;
}

.avatar img {
    margin: auto;
}

.item-margin-bottom {
    margin-top: 10px;
}

.error-message p {
    color: color($colors, danger);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.color-orange {
    color: #e48942;
}