page-mobile-number-verification {
  .ico-row {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  }

  .lbl-center {
    text-align: center;
  }

  .register-btn {
    color: color($colors, dark-gray, base);
    font-size: small;
  }

}
