<ion-content class="login-content" padding>
    <ion-row class="ico-row">
        <ion-col>
            <img src="assets/imgs/mail.png" width="40%">
        </ion-col>
    </ion-row>
    <div class="login-box">
        <ion-row>
            <ion-col>
                <ion-item no-lines text-wrap>
                    <ion-label color="dark-gray" class="lbl-center" style="font-size: x-large">
                        {{navParam.title}}
                    </ion-label>
                </ion-item>

                <ion-item no-lines text-wrap>
                    <ion-label color="dark-gray" text-center>
                        {{navParam.subTitle}} <br/> {{navParam.numberMask}}
                        <!-- Enter the verification code we sent to <br/> {{navParam.numberMask}} -->
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>

        <form (ngSubmit)="sendVerificationCode()" [formGroup]="validations_form">
            <ion-item no-lines>
                <ion-input type="type" placeholder="-----" maxlength=5 formControlName="code" #code [(ngModel)]="otp" text-center></ion-input>
            </ion-item>
            <ion-row *ngIf="isVerificationSent">
                <ion-col>
                    <ion-label style="font-weight: bold" (click)="resendCode(navParam.number)" [color]="isClickable? 'owtel-orange':'dark'">
                        <ion-icon name="mail" item-start></ion-icon>
                        {{ 'BUTTON.RESEND' | translate }}
                    </ion-label>
                </ion-col>
                <ion-col style="text-align: right">
                    <ion-label>
                        {{timeDisp}}
                    </ion-label>
                </ion-col>
            </ion-row>

            <ion-row *ngIf="isVerificationSent">
                <ion-col>
                    <ion-label style="font-weight: bold" (click)="sendVerificationCodeCall()" [color]="isClickable? 'owtel-orange':'dark'">
                        <ion-icon name="phone-portrait" item-start></ion-icon>
                        Call
                    </ion-label>
                </ion-col>
                <ion-col style="text-align: right">
                    <ion-label>
                        {{timeDisp}}
                    </ion-label>
                </ion-col>
            </ion-row>
            <br/>
            <button ion-button class="submit-btn cont-btn" type="submit" color="dark-gray" block large [disabled]="!this.validations_form.valid">{{ 'BUTTON.CONTINUE' | translate }}</button>
        </form>

        <button ion-button class="register-btn" block clear (click)="back()">
      <ion-icon name="arrow-round-back" style="margin-right:10px;"></ion-icon>
      {{ 'BUTTON.BACK' | translate }}
    </button>
    </div>
</ion-content>