page-application-details {
  .div-details {
    color: color($colors, dark-gray, base);
    background-color: color($colors, light-gray);
    padding: 20px 20px;
    margin-bottom: 20px;
  }

  .div-details .lbl-style {
    font-size: large;
    font-weight: bold;
  }

  .lbl-transform {
    text-transform: uppercase;
  }

  .data-header {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .card, .list-inset {
    overflow: hidden;
    margin: 10px 10px;
    border-radius: 2px;
    background-color: color($colors, dark-gray);
  }

  .ion-btn {
    background-color: transparent !important;
    color: color($colors, dark-gray, contrast);
  }

  .ion-btn h2 {
    color: color($colors, dark-gray, contrast);
  }

  .toolbar-title-md {
    padding : 0px !important;
  }

  .toolbar-title-ios {
   padding : 0px !important;
  }
}
