<ion-header no-border>

    <ion-navbar color="gray-header">
        <ion-title style="color:dark-gray">
            OWTEL INSTALLMENT
        </ion-title>
    </ion-navbar>

    

</ion-header>


<ion-content>
    <div class="div-details">
        <ion-label class="lbl-style">
            {{ 'LABEL.INST_ID' | translate }}: {{navParam.id}}
        </ion-label>
        <ion-grid no-padding>
            <ion-row class="data-header">
                <ion-col><strong>{{ 'LABEL.STATUS' | translate }}: </strong></ion-col>
                <ion-col class="lbl-transform">{{navParam.status}}</ion-col>
            </ion-row>
            <ion-row class="data-header">
                <ion-col><strong>{{ 'LABEL.APP_DATE' | translate }}: </strong></ion-col>
                <ion-col>{{navParam.date}}</ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="navParam.statusCode == 1">
        <ion-card style="background-color: #e48942">
            <button ion-item detail-push class="ion-btn" (click)="btnDocs()">
      <ion-icon name="folder-open" item-start></ion-icon>
      <h2>{{ 'LIST.DOCS' | translate }}</h2>
    </button>
        </ion-card>
    </div>

    <div *ngIf="navParam.statusCode == 2">
        <ion-card>
            <button ion-item detail-push class="ion-btn" (click)="btnDocs()">
      <ion-icon name="folder-open" item-start></ion-icon>
      <h2>{{ 'LIST.DOCS' | translate }}</h2>
    </button>
        </ion-card>
    </div>

    <div *ngIf="navParam.statusCode > 2">
        <ion-card>
            <button ion-item detail-push class="ion-btn" (click)="btnDocs()">
        <ion-icon name="folder-open" item-start></ion-icon>
        <h2>{{ 'LIST.DOCS' | translate }}</h2>
      </button>
        </ion-card>

        <ion-card>
            <button ion-item detail-push class="ion-btn" (click)="btnSched()">
        <ion-icon name="clock" item-start></ion-icon>
        <h2>{{ 'LIST.SCHED' | translate }}</h2>
      </button>
        </ion-card>

        <ion-card>
            <button ion-item detail-push class="ion-btn" (click)="btnPay()">
        <ion-icon name="cash" item-start></ion-icon>
        <h2>{{ 'LIST.PAY' | translate }}</h2>
      </button>
        </ion-card>
    </div>

</ion-content>