<ion-header>

    <ion-navbar color="gray-header">
        <ion-label color="dark-gray" style="font-size: large; font-weight: bold; padding-left: 6% !important;">
            COUPON QR CODE
        </ion-label>
    </ion-navbar>

</ion-header>


<ion-content>
    <ng-container *ngFor="let details of detailsQr">
        <ion-label #username style="font-size: xx-large; font-weight: bold; margin-top:12%" text-center>
            {{details.name}}
        </ion-label>

        <div class="div-details" style="margin-top:3%">
            <img [src]="imgQR" />
        </div>

        <div class="div-content" style="text-align: center">
            <ion-label style="text-align: center; font-size: large;margin-top:3%;">

                {{details.message}}
                <br>
            </ion-label>
            <ion-label style="text-align: center; margin-top:3%;font-size: large">
                Expires : {{details.expiry_date}}
            </ion-label>
        </div>
    </ng-container>
</ion-content>