page-unlistdoc {
    .image-container {
        background-size: cover;
        min-height: 200px;
    }
    .card button {
        background-color: transparent;
    }
    .card-default {
        background-color: color($colors, light-gray);
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .card-grayed {
        background-color: color($colors, dark-gray, base);
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .card-grayed ion-label {
        color: color($colors, dark-gray, contrast);
    }
    .card-icon {
        background-color: transparent;
        position: absolute;
        top: 73%;
        width: 70%;
        text-align: right;
    }
    .class-spin {
        position: absolute;
        z-index: 999;
        height: 120px;
        width: 80%;
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 15px;
        text-align: center;
    }
    .class-child-spin {
        height: 90px;
        width: 20%;
    }
    .opacity {
        background-color: color($colors, dark-gray, base);
        opacity: 0.5;
    }
    .transparent {
        background-color: transparent;
    }
    .prompt-icon {
        position: absolute;
        height: 25px;
        width: 25px;
        background: none !important;
        left: 75%;
        top: 10%;
    }
    .prompt-icon-failed {
        position: absolute;
        height: 20px;
        width: 20px;
        background: none !important;
        left: 76%;
        top: 11%;
    }
    .prompt-retry {
        height: 25px;
        width: 25px;
        position: absolute;
        top: 35%;
        left: 40%;
        z-index: 20;
    }
    span.prompt-retry-span {
        color: #fff;
        position: absolute;
        top: 55%;
        left: 40%;
        z-index: 20
    }
    .toolbar-title-md {
        padding: 0px !important;
    }
    .toolbar-title-ios {
        padding: 0px !important;
    }
    .btnRef {
        width: 80px;
        padding: 3%;
        background-color: #e48942 !important;
        color: #fff !important;
    }
    .btnDocs {
        width: 65px;
        padding: 3%;
        background-color: #e48942 !important;
        color: #fff !important;
    }
    modal-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    @media not all and (min-height: 600px) and (min-width: 768px) {
        ion-modal ion-backdrop {
            visibility: hidden;
        }
    }
    @media only screen and (min-height: 0px) and (min-width: 0px) {
        .modal-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .main-view {
        background: transparent;
    }
    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .5;
        background-color: #333;
    }
    .modal_content {
        position: absolute;
        top: calc(25% - (25%/2));
        left: 0;
        right: 0;
        width: 100%;
        height: 90%;
        padding: 10px;
        z-index: 100;
        margin: 0 auto;
        color: #333;
        background: transparent;
        /* background: -moz-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #fff 0%, #e8e8e8 100%);
    background: linear-gradient(to bottom, #fff 0%, #e8e8e8 100%); */
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
    }
}