<!--
  Generated template for the UnlistdocPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="main-view" (click)="closeModal()">
    <div class="overlay" (click)="closeModal()"></div>
    <div class="modal_content">
        <ion-grid>
            <ion-row>
                <ion-col col-6 col-md-4 col-xl-3 *ngFor="let docs of optdoc" style="margin-top:2%">
                    <ion-card class="card-default" (click)="getDocs(docs.name)">
                        <img [src]="docs.src" height="80px" />
                        <ion-label style="text-align: center;">
                            {{docs.name}}
                        </ion-label>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>