<!--
  Generated template for the ReferencePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar color="gray-header">
        <ion-label color="dark-gray" style="font-size: large; font-weight: bold; padding-left: 6% !important;">
            ADD REFERENCES
        </ion-label>

    </ion-navbar>
</ion-header>



<ion-content class="login-content" padding>
    <div class="div-content">
        <div *ngIf="reference?.length == 0">
            <form (ngSubmit)="add()" [formGroup]="validations_form">
                <ion-list no-lines>
                    <ion-input type="hidden" value="{{retail}}" #refCustId></ion-input>

                    <ion-row>
                        <ion-label class="lbl-size lbl-face">{{ 'LABEL.NAME' | translate }}:</ion-label>
                    </ion-row>

                    <ion-row>
                        <ion-col col-12 no-padding>

                            <ion-input type="text" class="inputName" #refNamefirst></ion-input>
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-label class="lbl-size lbl-face">{{ 'LABEL.MOBILE_NUMBER' | translate }}:</ion-label>
                    </ion-row>

                    <ion-row>

                        <ion-col no-padding>
                            <ion-input type="tel" maxlength="8" #refNumberfirst></ion-input>
                        </ion-col>
                    </ion-row>

                    <div style="margin-top:10%"></div>
                    <ion-row>
                        <ion-label class="lbl-size lbl-face">{{ 'LABEL.NAME' | translate }}:</ion-label>
                    </ion-row>

                    <ion-row>
                        <ion-col col-12 no-padding>
                            <ion-input type="text" class="inputName" #refNamesec></ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-label class="lbl-size lbl-face">{{ 'LABEL.MOBILE_NUMBER' | translate }}:</ion-label>
                    </ion-row>

                    <ion-row>

                        <ion-col col-12 no-padding>
                            <ion-input type="tel" maxlength="8" #refNumbersec></ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-row style="margin-top: 25px;">
                        <button ion-button class="submit-btn" type="submit" color="dark-gray" block large>{{ 'BUTTON.SUBMIT' | translate }}</button>
                    </ion-row>
                </ion-list>
            </form>
        </div>

        <div *ngIf="reference?.length > 0">
            <form (ngSubmit)="update()" [formGroup]="validations_form">
                <ion-list no-lines>

                    <ion-input type="hidden" value="{{reference[0].id}}" #refIdfirst>{{reference[0].id}}</ion-input>
                    <ion-input type="hidden" value="{{reference.length >= 2 ? reference[1].id : ''}}" #refIdsec></ion-input>

                    <ion-input type="hidden" value="{{reference[0].custno}}" #refCustnumfirst>{{reference[0].custno}}</ion-input>
                    <ion-input type="hidden" value="{{reference.length >= 2 ? reference[1].custno : ''}}" #refCustnumsec></ion-input>
                    <ion-input type="hidden" value="{{reference[0].hkid}}" #refHKID>{{reference[0].hkid}}</ion-input>

                    <ion-row>
                        <ion-label class="lbl-size lbl-face">{{ 'LABEL.NAME' | translate }}:</ion-label>
                    </ion-row>

                    <ion-row>
                        <ion-col col-12 no-padding>

                            <ion-input type="text" class="inputName" #refNamefirst value="{{reference[0].firstname}}">{{reference[0].firstname}}</ion-input>
                        </ion-col>
                    </ion-row>


                    <ion-row>
                        <ion-label class="lbl-size lbl-face">{{ 'LABEL.MOBILE_NUMBER' | translate }}:</ion-label>
                    </ion-row>

                    <ion-row>

                        <ion-col col-12 no-padding>
                            <ion-input type="tel" maxlength="8" #refNumberfirst value="{{removeWhiteSpace(reference[0].PRNContactNo)}}">{{reference[0].PRNContactNo}}</ion-input>
                        </ion-col>
                    </ion-row>

                    <div style="margin-top:10%"></div>
                    <ion-row>
                        <ion-label class="lbl-size lbl-face">{{ 'LABEL.NAME' | translate }}:</ion-label>
                    </ion-row>

                    <ion-row>
                        <ion-col col-12 no-padding>
                            <ion-input type="text" class="inputName" #refNamesec value="{{reference.length >= 2 ? reference[1].firstname : ''}}">{{reference.length >= 2 ? reference[1].firstname : ''}}</ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-label class="lbl-size lbl-face">{{ 'LABEL.MOBILE_NUMBER' | translate }}:</ion-label>
                    </ion-row>

                    <ion-row>
                        <ion-col col-12 no-padding>
                            <ion-input type="tel" maxlength="8" #refNumbersec value="{{reference.length >= 2 ? removeWhiteSpace(reference[1].PRNContactNo) : ''}}">{{reference.length >= 2 ? reference[1].PRNContactNo : ''}}</ion-input>
                        </ion-col>
                    </ion-row>

                    <ion-row style="margin-top: 25px;">
                        <button ion-button class="submit-btn" type="submit" color="dark-gray" block large>{{ 'BUTTON.SUBMIT' | translate }}</button>
                    </ion-row>
                </ion-list>
            </form>
        </div>


    </div>
</ion-content>