page-schedule {
  .tbl-header .col {
    background-color: white !important;
    border-bottom: none;
    font-weight: bold;
    font-size: small;
    text-align: right;
  }

  .tbl-header .col:first-child {
    text-align: center;
  }

  .tbl-body .col {
    text-align: right;
  }

  .tbl-body .col:first-child {
    text-align: center;
  }

  .tbl-body .col:first-child p {
    padding-left: 2px;
  }

  .tbl-header .col:last-child p, .tbl-body .col:last-child p {
    padding-right: 10px;
  }


  .col {
    background-color: color($colors, light-gray);
    color: color($colors, dark-gray, base);
  }

  .col {
    border-bottom: solid 1px color($colors, gray);
  }

  .row:last-child .col {
    border-bottom: none;
  }

  .check-icon {
    background-color: transparent;
    width:20%;
    margin: 0px 5px;
  }

  .div-content {
    text-align: center;
    margin-top: 40px;
  }
}
