<ion-header>
    <ion-navbar color="gray-header">
        <ion-title>
            OWTEL INSTALLMENT
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row class="tbl-header">
            <ion-col class="col">
                <p>
                    <strong>{{ 'TABLE.HEADER.DUE_DATE' | translate }}</strong>
                </p>
            </ion-col>
            <ion-col class="col">
                <p>
                    <strong>{{ 'TABLE.HEADER.AMOUNT' | translate }}</strong>
                </p>
            </ion-col>
            <ion-col class="col">
                <p>
                    <strong>{{ 'TABLE.HEADER.PAID' | translate }}</strong>
                </p>
            </ion-col>

            <ion-col col-4 class="col">
                <p>
                    <strong>{{ 'TABLE.HEADER.OUTSTANDING' | translate }}</strong>
                </p>
            </ion-col>
        </ion-row>

        <ion-row *ngFor="let d of schedule" class="tbl-body">
            <ion-col class="col">
                <p>
                    {{d.date}}
                </p>
            </ion-col>
            <ion-col class="col">
                <p>
                    {{d.amount}}
                </p>
            </ion-col>
            <ion-col class="col">
                <p>
                    {{d.paidAmount}}
                </p>
            </ion-col>
            <ion-col col-4 class="col">
                <p>
                    {{d.balance}}
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngFor="let due of nextDue" class="div-content" style="text-align: center; margin-bottom: 20px">
        <ion-label style="text-align: center; font-weight: bold">
            {{due.amount}}
            <br> {{due.date}}
        </ion-label>

        <button ion-button icon-start color="owtel-orange" (click)="btnPay()" *ngIf="navParam.status != 'Completed'">
            <ion-icon name="cash"></ion-icon>
            {{ 'BUTTON.PAY' | translate }}
        </button>
    </div>
</ion-content>