page-promotion {
    .ico-row {
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
    }
    .card,
    .list-inset {
        overflow: hidden;
        border-radius: 2px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .card-md {
        margin: 0px;
    }
    .card-ios {
        margin: 0px;
    }
    .ion-btn {
        background-color: color($colors, dark-gray, contrast) !important;
        //color: color($colors, dark-gray);
        color: #fff !important;
    }
    .ion-btn h2 {
        padding-top: 5px;
        font-size: large;
        font-weight: 600;
    }
    .ion-btn h2,
    .ion-btn p {
        padding-top: 3px;
        color: color($colors, dark-gray);
    }
    .ion-btn p {
        font-size: x-small;
    }
    .item-inner {
        background-size: 20px 20px !important;
    }
    ion-label.label-style {
        text-align: center;
        font-size: large;
        font-weight: bold
    }
    ion-label {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    img.img-promo {
        width: 70%;
        display: block;
        margin: auto
    }
    .label-md {
        margin: 10px 0px 0px 0px !important;
    }
    .label-ios {
        margin: 10px 0px 0px 0px !important;
    }
    .row-percent {
        margin: -13px 0px 0px 0px !important;
    }
    .btn-off {
        width: 110px !important;
    }
    /* .item-inner {
        filter: brightness(40%) sepia(4) !important;
    } */
    .btnActive {
        background-color: #f7f7f7 !important;
    }
    .btnActive h2,
    .btnActive p {
        padding-top: 0px;
        margin-top: -3px;
        color: color($colors, dark-gray);
    }
    .getfont {
        text-transform: capitalize;
    }
    .margin-top-7 {
        margin-top: -7%;
    }
    .label-styles {
        font-size: large !important;
        font-weight: bold;
        text-align: center;
        color: color($colors, dark-gray);
    }
    .discount-btn {
        background-color: #E92527;
        margin-left: -21%;
        height: 70%;
        text-align: center;
    }
}