<ion-header no-border>
    <ion-navbar color="gray-header">
        <ion-label color="dark-gray" style="font-size: large; font-weight: bold; padding-left: 6% !important;">
            PROMOTIONS
        </ion-label>

    </ion-navbar>
</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingText="{{ 'LOADER.PULL_REF' | translate }}">
        </ion-refresher-content>
    </ion-refresher>

    <div style="margin-top:4%"></div>

    <div *ngIf="promotionDetails?.length == 0">
        <ng-container>
            <ion-label color="gray-header" #username style="padding-left: 0 !important; margin-top: 55% !important;font-size: xx-large; font-weight: bold" text-center>
                {{ 'LABEL.NO_PROM' | translate }}
            </ion-label>

        </ng-container>
    </div>

    <div *ngIf="promotionDetails?.length > 0">
        <ng-container *ngFor="let promotion of promotionDetails">
            <div (click)="getPromotionItems(promotion.category_id)">
                <ion-card text-wrap>
                    <button ion-item detail-push class=" ion-btn btnActive ">
                      <h2 color="dark-gray"> {{ promotion.name}}</h2>
                 </button>
                </ion-card>
                <div style="margin-top:3%"></div>

                <div *ngIf="promotion.products?.length==0 ">

                </div>

                <div *ngIf="promotion.products?.length > 0">
                    <div class="imgpromo" style="padding-top: 3px;">
                        <img class="img-promo" style="text-align: center;" [src]="promotion.products[0].img_url[0]">
                        <!-- if discount == 0 -->
                        <div *ngIf="promotion.products[0].discount_value == 0 || promotion.products[0].discount_value?.length == 0">
                            <ion-row no-padding>
                                <ion-col col-2></ion-col>
                                <ion-col col-8 text-wrap>
                                    <ion-label class="label-styles">
                                        {{promotion.products[0].amount}}
                                    </ion-label>
                                </ion-col>
                                <ion-col col-2></ion-col>
                            </ion-row>
                            <ion-row no-padding>
                                <ion-col col-2></ion-col>
                                <ion-col col-8 text-wrap class="margin-top-7">
                                    <ion-label class="getfont label-styles">
                                        {{promotion.products[0].name.toLowerCase()}}
                                    </ion-label>
                                </ion-col>
                                <ion-col col-2></ion-col>
                            </ion-row>

                        </div>

                        <!-- if discount not 0 -->
                        <div *ngIf="promotion.products[0].discount_value > 0">
                            <ion-row no-padding>
                                <ion-col col-2></ion-col>
                                <ion-col col-8 text-wrap>
                                    <ion-label class="label-styles">
                                        {{promotion.products[0].discount_amount}}
                                    </ion-label>
                                </ion-col>
                                <ion-col col-2></ion-col>
                            </ion-row>
                            <ion-row no-padding>
                                <ion-col col-2></ion-col>
                                <ion-col col-8 text-wrap class="margin-top-7">
                                    <ion-label class="getfont label-styles">
                                        {{promotion.products[0].name.toLowerCase()}}
                                    </ion-label>
                                </ion-col>
                                <ion-col col-2></ion-col>
                            </ion-row>
                            <ion-row no-padding class="row-percent">
                                <ion-col col-2></ion-col>
                                <ion-col col-4 text-wrap style="margin-left:7%">
                                    <ion-label class="label-styles" style="text-decoration: line-through; opacity: 0.3;">
                                        {{promotion.products[0].amount}}
                                    </ion-label>
                                </ion-col>
                                <ion-col col-4 text-wrap style="margin-top:2%;">
                                    <button *ngIf="promotion.products[0].discount_type == 1" ion-button class="btn-off discount-btn">{{promotion.products[0].discount_value}}% off</button>
                                    <button *ngIf="promotion.products[0].discount_type == 2" ion-button class="btn-off discount-btn">Save HK${{promotion.products[0].discount_value}}</button>
                                </ion-col>
                                <ion-col col-2></ion-col>
                            </ion-row>
                        </div>
                    </div>
                    <div style="margin-top: 7%"></div>
                </div>
            </div>
        </ng-container>
    </div>

</ion-content>