<!--
  Generated template for the AddreferralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar color="gray-header">
        <ion-label color="dark-gray" style="font-size: large; font-weight: bold; padding-left: 6% !important;">
            REFERRALS
        </ion-label>


    </ion-navbar>
</ion-header>


<ion-content padding>
    <div>
        <ion-grid>
            <div *ngFor="let data of info">
                <ion-row>
                    <ion-col>
                    </ion-col>

                    <ion-col col-6>
                        <div *ngIf="data.status == 'Not yet apply'">
                            <div *ngIf="!isEdit">
                                <button ion-button (click)="enableFields()" class="submit-btn" block small style="margin-left: 46%;background:#e48942">EDIT</button>
                            </div>
                            <div *ngIf="isEdit">
                                <button ion-button (click)="updateReferral()" class="submit-btn" block small style="margin-left: 46%;background:#e48942">Save</button>
                            </div>
                        </div>

                        <div *ngIf="data.status != 'Not yet apply'">
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <div class="div-content" style="width:100%">
                        <ion-list no-lines>

                            <!-- View / Disabled Fields-->

                            <div *ngIf="!isEdit">

                                <ion-row>
                                    <ion-label class="lbl-size lbl-face">Name : </ion-label>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12 no-padding>
                                        <ion-input value="{{data.name}}" [disabled]="!isDisabled" type="text" #refName></ion-input>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-label class="lbl-size lbl-face">{{ 'LABEL.MOBILE_NUMBER' | translate }}:</ion-label>
                                </ion-row>
                                <div style="margin-top: 10px" *ngFor="let mobile of data.phone; let idx = index">
                                    <ion-row>

                                        <ion-col>
                                            <ion-input value="{{mobile.PhoneNo}}" [disabled]="!isDisabled" type="tel" maxlength="8" #refMobileMultiple></ion-input>
                                        </ion-col>

                                        <button *ngIf="idx == 0" (click)="Add()" ion-button icon-only [disabled]="!isDisabled" style="width:12%;margin-left:2%;background:#e48942">
                                            <ion-icon name="add"></ion-icon>
                                        </button>

                                        <button *ngIf="idx > 0" (click)="Remove(idx)" [disabled]="!isDisabled" ion-button icon-only style="width:12%;margin-left:2%;background:red ">
                                            <ion-icon name="close"></ion-icon>
                                        </button>

                                    </ion-row>
                                </div>

                                <!--                                 <ion-row>
                                    <ion-label class="lbl-size lbl-face">Remarks : </ion-label>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12 no-padding>
                                        <ion-textarea value="{{data.remarks}}" [disabled]="!isDisabled" style="height:8em; font-size:medium"></ion-textarea>
                                    </ion-col>
                                </ion-row> -->

                                <ion-row>
                                    <p>Status : {{data.status}}</p>

                                </ion-row>

                            </div>

                            <!----Editable-->
                            <div *ngIf="isEdit">
                                <ion-input type="hidden" value="{{data.refcustid}}" #refcustId></ion-input>
                                <ion-row>
                                    <ion-label class="lbl-size lbl-face">Name</ion-label>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12 no-padding>
                                        <ion-input value="{{data.name}}" type="text" class="inputNRIC" #refName [(ngModel)]="getCheckName" (keyup)="onKeyupName($event)"></ion-input>
                                    </ion-col>
                                </ion-row>

                                <ion-row>
                                    <ion-label class="lbl-size lbl-face">{{ 'LABEL.MOBILE_NUMBER' | translate }}:</ion-label>
                                </ion-row>


                                <div style="margin-top: 10px" *ngFor="let mobile of data.phone; let idx = index">

                                    <ion-row>
                                        <ion-col>
                                            <ion-input [(ngModel)]="getCheckNumber" (keyup)="onKeyupNumber($event)" id="{{mobile.RefCustPhoneID}}" value="{{getMobile(mobile.PhoneNo)}}" [disabled]="!isDisabled" type="tel" maxlength="8" #refMobileMulti></ion-input>
                                        </ion-col>

                                        <button *ngIf="idx == 0" (click)="Add()" ion-button icon-only [disabled]="!isDisabled" style="width:12%;margin-left:2%;background:#e48942">
                                                <ion-icon name="add"></ion-icon>
                                        </button>

                                        <button *ngIf="idx > 0" (click)="RemovePhone(data.phone,idx)" ion-button icon-only style="width:12%;margin-left:2%;background:red ">
                                            <ion-icon name="close"></ion-icon>
                                        </button>

                                    </ion-row>
                                </div>


                                <div style="margin-top: 10px" *ngFor="let att of anArray; let idx = index">
                                    <ion-row>
                                        <ion-col>
                                            <ion-input type="tel" maxlength="8" [(ngModel)]="anArray[idx].value" #refMobileMulti></ion-input>
                                        </ion-col>
                                        <button (click)="Remove(idx)" ion-button icon-only style="width:12%;margin-left:2%;background:red ">
                                        <ion-icon name="close"></ion-icon>
                                    </button>
                                    </ion-row>
                                </div>
                                <!--                                 <ion-row>
                                    <ion-label class="lbl-size lbl-face ">Remarks</ion-label>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-12 no-padding>
                                        <ion-textarea value="{{data.remarks}}" style="height:8em; font-size:medium" #refRemarks></ion-textarea>
                                    </ion-col>
                                </ion-row> -->

                                <ion-row style="margin-top: 3%; ">
                                    <button ion-button class="submit-btn" (click)="deleteConfirm()" type="submit " block medium style="background:#e48942;margin:auto;width:50% ">DELETE REFERRAL</button>
                                </ion-row>
                            </div>

                        </ion-list>
                    </div>
                </ion-row>
            </div>
        </ion-grid>
    </div>

</ion-content>