<ion-content class="login-content" padding>
    <ion-row class="ico-row">
        <ion-col>
            <img src="assets/imgs/exclamation.png" width="40%">
        </ion-col>
    </ion-row>
    <div class="login-box">
        <ion-row>
            <ion-col>
                <ion-item no-lines text-wrap>
                    <ion-label color="dark-gray" class="lbl-center" style="font-size: xx-large">
                        {{navParam.title}}
                    </ion-label>
                </ion-item>

                <ion-item no-lines text-wrap>
                    <ion-label color="dark-gray" text-center>
                        {{navParam.subTitle}}
                        <!-- Your mobile number has been verified with another mobile device. Please verify again if you wish to login on this device. -->
                    </ion-label>
                </ion-item>

                <form (ngSubmit)="verifyMobile()">
                    <ion-row>
                        <ion-col class="btn-col">
                            <button ion-button class="submit-btn" type="submit" color="dark-gray" block large>{{ 'BUTTON.VERIFY' | translate }}</button>
                        </ion-col>
                    </ion-row>
                </form>
            </ion-col>
        </ion-row>
    </div>
</ion-content>